/* ===============================
 * Personality Kuis
 * =============================== */

.quiz .options {
	line-height: 2;

	input {
	    margin-left: 5px;
	    margin-right: 5px;
	    position: relative;
	    top: 2px;
	}
}