/*
*	Variables SCSS
*/

$main-color-one: #24c296; //green
$main-color-two: #2c89c3; //blue
$main-color-three: #F6BF74; //orange
$secondary-color-one: #16D0DA; //light green
$secondary-color-two: #e72057; //purple
$secondary-color-three: #d03c3c; //red
