/* ------------------- */
// Video Page CSS
/* ------------------- */
#hut-video .header {
  background: $secondary-color-three;
}
#hut-video {
  .header > div[class^="container"] {
    @include nosides(padding);
  }
}
#hut-video .submenu {
  li {
    font-size: 1em;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    @include transition(0.4s);
    text-decoration: none;
    > div {
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
    }
    &:hover,
    &.active {
      background: $main-color-two;
    }
    @include spacepad(15px);
    a {
      color: #fff;
    }
    img {
      width: 50px;
      height: 50px;
    }
    // span {
    //   display: inline-block;
    //   &:first-child {
    //     vertical-align: middle;
    //   }
    //   &:nth-child(2) {
    //     @media (min-width: 768px) {
    //       margin-left: 8px;
    //     }
    //   }
    // }
  }
  &-content-list {
    display: none;
    &.active {
      display: block;
    }
  }
}
.submenu-content-list div:nth-child(2) {
  .title {
    border-bottom: 2px solid $secondary-color-three;
    padding-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
}
.submenu-content-list .video-list {
  > div[class^="col-"] {
    text-align: center;
  }
  iframe {
    width: 100%;
    min-height: 200px;
  }
}

/* override slider */
.slick-prev,
.slick-next {
  padding: 0;
}
.slick-prev {
  left: -30px;
}
.slick-next {
  right: -30px;
}
