/*vendor--*/

@import 'vendor/bootstrap/style/bootstrap';
@import 'vendor/fontawesome/font-awesome';
@import 'vendor/slick/style/slick';
@import 'vendor/slick/style/slick-theme';
// @import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*vendor override--*/

@import 'style/override';

/*variables--*/

@import 'style/variables';

/*base--*/

@import 'style/base';

/*pages--*/

@import 'style/nav';
@import 'style/footer';

/*kodein--*/

@import 'style/animate';
@import 'style/kodein';

html {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

$base-font: 12px;
$base-font-lg: 14px;
body,
.segment {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.pos-fixed {
    position: fixed;
}

.main-banner {
    // @include spacepad(4rem);
    background: url(../asset/images/indosiar21-pattern.jpg);
    .call-to-action {
        padding-bottom: 25px;
        text-align: center;
        @media (min-width: 768px) {
            margin-top: -60px;
        }
        
        button {
            font-size: $base-font * 1.5;
            @media (min-width: 768px) {
                font-size: $base-font * 2;
            }
        }
    }
}

.page-wrap {
    // transition: .3s ease-in;
    @include transition(.3s ease);
    -webkit-transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    position: relative;
    transform: translate(0px, 0px);
}

#list-artist {
    background: #c4e6e8;
    > div {
        padding-left: 0;
        padding-right: 0;
    }
    .slick-artist {
        text-transform: uppercase;
        &.afgan .overlay-title {
            background-color: #3f3f3f;
        }
        &.ayu .overlay-title {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec248f+0,ee974a+100 */
            background: #ec248f;
            /* Old browsers */
            background: -moz-linear-gradient(left, #ec248f 0%, #ee974a 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #ec248f 0%, #ee974a 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #ec248f 0%, #ee974a 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec248f', endColorstr='#ee974a', GradientType=1);
            /* IE6-9 */
        }
        &.evidanang .overlay-title {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#61396e+0,f7d399+100 */
            background: #61396e;
            /* Old browsers */
            background: -moz-linear-gradient(left, #61396e 0%, #f7d399 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #61396e 0%, #f7d399 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #61396e 0%, #f7d399 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#61396e', endColorstr='#f7d399', GradientType=1);
            /* IE6-9 */
        }
        &.raditya .overlay-title {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7261e1+0,00a256+100 */
            background: #7261e1;
            /* Old browsers */
            background: -moz-linear-gradient(left, #7261e1 0%, #00a256 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #7261e1 0%, #00a256 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #7261e1 0%, #00a256 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7261e1', endColorstr='#00a256', GradientType=1);
            /* IE6-9 */
        }
        &.teza .overlay-title {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f36f30+0,3f46a0+100 */
            background: #f36f30;
            /* Old browsers */
            background: -moz-linear-gradient(left, #f36f30 0%, #3f46a0 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f36f30 0%, #3f46a0 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f36f30 0%, #3f46a0 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36f30', endColorstr='#3f46a0', GradientType=1);
            /* IE6-9 */
        }
    }
    .overlay-title {
        color: #fff;
        width: 100%;
        z-index: 2;
        padding: 10px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: $base-font * 1.1;
        @media (min-width: 768px) and (max-width: 992px) {
            font-size: $base-font * 1.5;
        }
        @media (min-width: 992px) {
            font-size: $base-font * 2.5;
        }
    }
}

#livestream {
    background: url(../asset/images/livestream-bg.jpg);
    > .container-fluid {
        @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .intro-text {
        h2 {
            font-size: 1.2em;
            @media (min-width: 768px) and (max-width: 992px) {
                font-size: 2em;
            }
            @media (min-width: 992px) {
                font-size: 3em;
            }
        }
        text-align: center;
        color: #000;
        // font-family: 'Gotham-Bold';
        font-family: 'Montserrat', sans-serif;
        color: $secondary-color-two;
        hr {
            border-color: $secondary-color-two;
            border-width: 2px;
            margin: 0 auto;
            text-align: center;
            width: 10em;
        }
    }
    .video {
        text-align: center;
        > div {
            max-width: 650px;
            margin: 0 auto;
        }
        iframe {
            width: 100%;
            @media (min-width: 320px) and (max-width: 500px) {
                height: 200px;
            }
            @media(min-width: 768px) {
                height: 400px;
            }
        }
    }
}

#kontes {
    background: url(../asset/images/indosiar21-pattern.jpg);
}
